{% extends "base.html" %}

{% block content %}

<center><h1><i>Welcome to Blogz!</i></h1></center>
<p>In this project I (Devan Bickham) hope to demonstrate my current knowledge of building a blog site with authentication from the teachings of LaunchCode :)</p>

<hr />

<table>
    <tr>
        <td><p>If you have an account please <a href="/login">login.</a></p></td>
    </tr>
    <tr>
        <td><p>Otherwise, you can <a href="/register">create an account.</a></p></td>
    </tr>
</table>

{% endblock %}